<div class="lists">
  <header class="all filter" data-filter="all">
    <h2 class="all_todos">All Todos</h2>
    <div class="badge">{{all.count}}</div>
  </header>
  <ul>
    {{#each this}}
      {{#unless completed}}
      <li class="filter" data-filter="{{@key}}">
        {{label}}
        <div class="badge">{{count}}</div>
      </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="lists">
  <header class="comp filter" data-filter="all_c">
    <h2 class="completed">Completed</h2>
  </header>

  <ul class="completed">
    {{#each this}}
      {{#if completed}}
      <li class="filter" data-filter="{{@key}}">
        {{label}}
      </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
